<div id="signin" class="box tab-pane in active">
<!--      <form class="form-signin"> -->
<br />
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
<br />
        <input id="rememberme" type="checkbox">
        <label >Remember me</label>
<br />
<br />
        <button id="signin-button" class="btn btn-lg btn-primary btn-block" Xtype="submit"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign In</button>
        <div id="signin_message" > </div>
<!--      </form> -->
</div>
