<div class="modal fade" id="suggest-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Suggested Feeds</h4>
      </div>
      <div class="modal-body">
<div class="panel panel-default">
  <div id="category-panel" class="panel-body">
    Basic panel example
  </div>
</div>
<div class="input-group">
  <input type="text" id="q" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2"><a href="#" id="suggest-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></span>
</div>
<br>
<div id="search-results">
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
