doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/feed.css')

    script( type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )
    script( type="text/javascript", src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" )
    script( type="text/javascript", src="js/feed.js" )
  body

    include /public/fragments/menu-bar.html

    .container

      .row

        .col-sm-3

          #feedlist
            div.accordion
              div.folder#folder_1 Blogs
              div.feeds#feeds_1
                li.feed This Blog Here
                li.feed That blog there
              div.folder#folder_2 Oracle
              div.feeds.colIco#feeds_2
                li.feed Ask Tom
                li.feed Jonathan Lewis
                li.feed Tanel Poder
              div.folder#folder_3 Tech
              div.feeds#feeds_3
                li.feed Engadget
                li.feed gdgt
                li.feed Hexus
                li.feed Toms Hardware
        
        .col-sm-9
