doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/feed.css')

    script( type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )
    script( type="text/javascript", src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" )
    script( type="text/javascript", src="js/feed.js" )
  body

    include /public/fragments/banner-bar.html

    .container

      .row

        .col-sm-6
          | Put a sign in box here
        .col-sm-6
          | Put a sign up box here
