doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/feed.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')

    script( type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )
    script( type="text/javascript", src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" )
    script( type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" )
    script( type="text/javascript", src="js/cookies.js" )
    script( type="text/javascript", src="js/index.js" )
  body

    include /public/fragments/banner-bar.html

    .container

      .row
        br
        .col-sm-9
          | All this awesome can be yours....

        .col-sm-3

          ul.nav.nav-tabs
            li.active
              a(href="#signin" data-toggle="tab")
                | Sign In 
            li
              a(href="#signup" data-toggle="tab")
                | Sign Up 

          div.tab-content
            include /public/fragments/signin.html
            include /public/fragments/signup.html
//            input#inputEmail.form-control(type="email" placeholder="Email address" required autofocus)
//        <label for="inputEmail" class="sr-only">Email address</label>
//        <label for="inputPassword" class="sr-only">Password</label>
//        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
//        <div class="checkbox">
//          <label>
//            <input type="checkbox" value="remember-me"> Remember me
//          </label>
//        </div>
//        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
// </form>
//        .col-sm-6
//          div
//            h3 Sign Up

