doctype html
html(lang="en")
  head
    title #{title}
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/feed.css')

    script( type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )
    script( type="text/javascript", src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" )
    script( type="text/javascript", src="js/feed.js" )
  body

    include /public/fragments/menu-bar.html

    .container

      .row

        .col-sm-3

          #feedlist
            div.accordion#accordion
        
        .col-sm-9
          div#feedcontents
            span#feedtitle.feedtitle
            | &nbsp;
            div.feed-buttons
              button#btn-feed-status.btn.btn-sm.btn-default(data-toggle="tooltip", title="Mark as read")
                | View: Unread
              | &nbsp;
              button#btn-mark-all-read.btn.btn-sm.btn-default(data-toggle="tooltip", title="Mark as read")
                span(class="button glyphicon glyphicon glyphicon-ok")
              | &nbsp;
              button#btn-refresh-feed.btn.btn-sm.btn-default(data-toggle="tooltip", title="Refresh")
                span(class="button glyphicon glyphicon-refresh")

            hr
            div#entrylist
            div#bottombar
              | TOOLBAR HERE
