doctype html
html(lang="en")
  head
    title #{title}
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/feed.css')
    link(rel='stylesheet', href='/stylesheets/tt.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.8/css/jquery.dataTables.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css')

    script( type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )
    script( type="text/javascript", src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" )
    script( type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js" )
    script( type="text/javascript", src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.js" )
    script( type="text/javascript", src="lib/jquery.dataTables.editable.js" )
    script( type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js") 

    script( type="text/javascript", src="js/feed.js" )
    script( type="text/javascript", src="lib/typeahead.js/typeahead.jquery.min.js" )
    script( type="text/javascript", src="lib/typeahead.js/bloodhound.min.js" )

    script( type="text/javascript", src="js/mustache.min.js" )

  body(style="padding-top: 60px")

    include /public/fragments/menu-bar.html

    .container

      .row

        .col-sm-3

          #feedlist
            div.accordion#accordion
        
        .col-sm-9#main-window
          div#feedcontents
            span#feedtitle.feedtitle
            | &nbsp;
            div.feed-buttons
              button#btn-feed-status.btn.btn-sm.btn-default(data-toggle="tooltip", title="Mark as read")
                | View: Unread
              | &nbsp;
              button#btn-mark-all-read.btn.btn-sm.btn-default(data-toggle="tooltip", title="Mark as read")
                span(class="button glyphicon glyphicon glyphicon-ok")
              | &nbsp;
              button#btn-refresh-feed.btn.btn-sm.btn-default(data-toggle="tooltip", title="Refresh")
                span(class="button glyphicon glyphicon-refresh")

            hr
            div#entrylist
            div#bottombar
              | TOOLBAR HERE

          div#managefeeds

    include /public/fragments/edit-feed-modal.html
    include /public/fragments/settings-modal.html
    include /public/fragments/suggest-modal.html
    include /public/fragments/confirm-modal.html
