{{#.}}
<div id="folder_{{id}}" class="folder">
  <div class="feed_title_bar">{{folder_name}}</div>
  <div id="feeds_{{id}}" class="feeds" style="display:none" data-folder-name="{{folder_name}}">{{#feeds}}<li class="feed" id="{{id}}">{{feed_title}}</li>{{/feeds}}</div>
</div>
{{/.}}
