{{#.}}
<div id="folder_{{id}}" class="folder">{{folder_name}}</div><div id="feeds_{{id}}" class="feeds" style="display:none">{{#feeds}}<li class="feed" id="{{id}}">{{feed_title}}</li>{{/feeds}}</div>
{{/.}}
