<table id='suggest-table' data-pagination='true' data-toggle='table'>
<thead>
<tr>
<th>Feed</th>
</tr>
</thead>
<tbody>
{{#.}}
<tr class='search-result' data-url-id='{{id}}'>
<td id='add-feed'><h5><b>{{title}}</b></h5>{{url}}</td>
<!--<td id='add-feed' data-url-id='{{id}}' style='vertical-align:middle'><span id='Xadd-feed' data-url-id='{{id}}' class='glyphicon glyphicon-plus' aria-hidden='true'></span></td> -->
</tr>
{{/.}}
</tbody></table>
