{{#.}}
<button class='btn btn-sm' id='category-btn' data-category='{{category}}' data-category-id='{{id}}' style='margin:4px' type='button'>{{category}}&nbsp;&nbsp;<span class='badge'>{{number}}</span></button>
{{/.}}
