.jumbotron {
  background-color: #bec;
}
.room-selected {
  font-weight: bold;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
.folder {
  padding-bottom: 2px;
  padding-top: 4px;
  cursor: pointer;
}
.feed_title_bar {
  font-weight: bold;
}
.feed {
  border-left: 3px solid #fff;
  padding-left: 3px;
  cursor: pointer;
}
.feed_title_bar:hover,
.feed:hover {
  background-color: #def;
}
.search-result:hover {
  background-color: #5cb85c;
  cursor: pointer;
}
ul {
  padding-left: 0px;
}
li {
  list-style-type: none;
}
.colIco {
  position: relative;
}
.feedSelected {
  border-color: #aad;
}
.entry {
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #ddd;
}
.header {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #f9f9f9;
}
.header:hover {
  background-color: #ddd;
  cursor: pointer;
}
.pubdate {
  float: right;
}
.unread {
  font-weight: bold;
}
hr {
  margin-top: 12px;
  margin-bottom: 0px;
}
.feedtitle {
  font-weight: bold;
  font-size: 130%;
  vertical-align: middle;
}
.feed-buttons {
  float: right;
}
.navbar {
  margin-bottom: 5px;
}
.collapsed {
  display: none;
  visibility: hidden;
  height: 0px;
}
.content {
  margin-left: 50px;
  padding: 20px;
  border: 1px solid #eee;
}
.content-footer {
  margin-top: 10px;
  background-color: #fafafa;
}
.social {
  float: right;
  margin-right: 10px;
}
body {
  padding-top: 0px;
}
