.jumbotron
  background-color: #bbeecc;

.room-selected
  font-weight: bold;

#messages
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:left;
  width:100%;

#messages li
  padding: 5px 10px;

#messages li:nth-child(odd)
  background: #eee;

.folder
  padding-bottom:2px;
  padding-top:4px;
  font-weight:bold ;
  cursor:pointer;

.feed
  border-left: 3px solid white;
  padding-left: 3px;
  cursor: pointer;

.folder:hover, .feed:hover 
  background-color: #ddeeff;

ul
  padding-left:0px;

li
  list-style-type: none;

.colIco
  position:relative;
  display:none;
