.form-signin
/*  max-width: 330px;*/
  padding: 15px;
  margin: 0 auto;

#signin_message
  font-size:120%;
  padding-top:5px ;
  margin-bottom:10px ;
  padding-right: 5px;
  height: 30px;

.highlight
  background-color: #ffdddd;


