<div class="modal fade" id="manage-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Manage Feeds</h4>
      </div>
      <div class="modal-body">
<div id="manage-list">
</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<button id="save-manage-feeds" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>&nbsp;Save</button>
<!--        <a href="#" class="btn btn-primary"><span class='glyphicon glyphicon-floppy-save'>&nbsp;Save</a>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
